// Váriaveis
$cor-padrao: #2196F3;
$cor-secundaria: #0D47A1;
$distancia: 1rem;
$mobile: "(max-width: 980px)";
$desktop: "(min-width: 991px)";

//Mixins---

//Magins
@mixin margin{
	margin: $distancia
}

@mixin margin-($lado){
	margin-#{$lado}: $distancia;
}

//Padding
@mixin padding{
	padding: $distancia;
}

@mixin padding-($lado){
	padding-#{$lado}: $distancia;
}

//Placeholders---
%margin{
	margin: $distancia;
}

%padding{
	padding: $distancia;
}

%half-margin{
	margin: $distancia/2;
}

%box-shadow{
	webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

%pointer{
	cursor: pointer;
}

%width100{
	width: 100%;
}
