@import 'base', 'layout';

.card{
  @extend [padding];
  background: #fff;
  width: 300px;
  margin: .5rem;
  text-align: left;
  @extend [box-shadow];
  @extend [border-radios];
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  div, .caption{
    @extend .partition;
  }

  img{
    max-width: 100%;
  }

  .caption{
    @extend [bold];
  }

  .caption, div{
    padding: .5rem 0;
  }
}
